
html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	/* tmp? */
	background-color: #333;
}

@font-face {
	font-family: "PressStart2P";
	src:
		url("./fonts/PressStart2P.woff2") format("woff2"),
		local("PressStart2P"),
		url("./fonts/PressStart2P.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Bit5x3";
	src:
		url("/fonts/Bit5x3.woff2") format("woff2"),
		local("Bit5x3"),
		url("/fonts/Bit5x3.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

.background-pages {
	background-color: #333;
	font-family: "PressStart2P";
	font-size: 1vw;
	color: white;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
